{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en" class="fullheight">

{# Override the "title" block to supply your own page title, e.g "Page Name | Site Name" #}

<head>
    <meta charset="utf-8">
    {% block title %}
    <title>{{config.title}}</title>
    <meta name="description" content="{{config.description}}" />
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/application.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=" rss.xml", trailing_slash=false)
        }}">
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</head>

{# Header image is 1920x300 pixels. We want to only show it on desktop, and make it responsive. #}

<body class="fullheight">
    {% block breadcrumb %}
    {% endblock %}
    <div class="container mt-4">
        {% block content %} {% endblock %}
    </div>
    <footer class="footer mt-4">
        <div class="has-text-centered">
        </div>
    </footer>
</body>

</html>