{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
<title>{{page.title}} | {{config.title}}</title>
<meta name="description" content="{{page.extra.description | default(value=config.description)}}" />
{% endblock %}

{% block breadcrumb %}
{{ macros::breadcrumb(ancestors=page) }}
{% endblock %}

{% block content %}

<h1 class="title is-size-1">
  {{ page.title }}
</h1>
<h4 class="subtitle is-size-4">{{ page.date }}</h4>
<div class="content">
  {{ page.content | safe }}
</div>

{% endblock content %}